@import "../../sass/mixins.scss";

.projects {
  grid-column: full-start / full-end;
  padding: 7rem 6rem;
  background-color: var(--color-grey-dark-4);

  @include respond(tab-port) {
    grid-column: center-start / center-end;
    padding: 0 0 6rem 0;
  }

  display: grid;

  &__heading {
    justify-self: center;
  }

  &__show {
    justify-self: center;

    &__btn {
      margin-top: 7rem;
      display: inline-block;

      @include respond(phone) {
        margin-top: 1rem;
      }

      @include respond(tab-land) {
        margin-top: 1rem;
      }
    }
  }
}

.project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  padding: 8rem 0;

  &__fig {
    height: 30rem;
    &--photo {
      height: 100%;
    }

    &__content {
      height: 10rem;
      display: flex;
      align-items: center;
      padding: 0 3rem;

      &--heading {
        margin-right: auto;
      }

      &--image {
        width: 10rem;

        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 1.2rem;

        color: var(--color-primary);
        border: 2px solid var(--color-black);
        border-radius: 50%;

        &:not(:last-child) {
          margin-right: 2rem;
        }

        @include respond(phone) {
          border: none;
          border-radius: 0;
        }
      }
    }
  }

  &__desc {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @include respond(tab-port) {
      padding: 0;
    }

    @include respond(tab-land) {
      padding-top: 15rem;
    }

    &--btn {
      border-radius: 50px !important;
      display: inline-block;
    }
  }
}
