@import "../../sass/mixins.scss";

.navigation {
  position: relative;
  z-index: 999;

  min-height: 9rem;
  padding: 0 4rem;
  backdrop-filter: blur(10px);
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.02);

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  &__logo {
    height: 5rem;
    color: var(--color-secondary);
    &--img {
      height: 100%;
    }
  }

  &__button,
  &__icon,
  &__backgroung {
    display: none;

    @include respond(tab-land) {
      display: block;
    }
  }

  &__button {
    @include respond(tab-land) {
      // background-color: var(--color-white);
      // height: 7rem;
      // width: 7rem;
      position: absolute;
      top: 50%;
      right: 3rem;

      z-index: 2000;
      box-shadow: 0 1rem 3rem rgba(var(--color-black), 0.15);
      text-align: center;
      cursor: pointer;
    }

    @include respond(phone) {
      position: absolute;
      top: 50%;
      right: 3rem;
    }
  }

  &__icon {
    @include respond(tab-land) {
      position: relative;

      &,
      &::before,
      &::after {
        width: 30px;
        height: 2px;
        background-color: var(--color-grey-dark-2);
        display: inline-block;
      }

      &::before,
      &::after {
        content: "";
        left: 0;

        position: absolute;
        transition: all 0.5s;
      }

      &::before {
        top: -1.2rem;
      }

      &::after {
        top: 1.2rem;
      }

      &-open {
        background-color: transparent;
        &::before {
          top: 0;
          transform: rotate(135deg);
        }

        &::after {
          top: 0;
          transform: rotate(-135deg);
        }
      }
    }
  }

  &__background {
    @include respond(tab-land) {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      position: fixed;
      top: 3.5rem;
      right: 3.5rem;
      background-image: radial-gradient(
        var(--color-primary),
        var(--color-primary-light)
      );
      z-index: 1000;

      transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);

      &-open {
        transform: scale(80);
      }

      // transform: scale(80);
    }

    @include respond(phone) {
      top: 2.5rem;
      right: 2.5rem;
    }
  }

  &__nav {
    @include respond(tab-land) {
      height: 95vh;

      position: fixed;
      top: 0;
      left: 0;
      z-index: 1500;

      opacity: 0;
      width: 0;
      visibility: hidden;

      transition: all 0.8s cubic-bezier(0, 1.04, 0.49, 1.01);

      &-open {
        opacity: 1;
        width: 100%;
        visibility: visible;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;

    @include respond(tab-land) {
      flex-direction: column;
      text-align: center;
      justify-content: center;
      width: inherit;
      height: inherit;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 2rem;
    }
    @include respond(tab-land) {
      margin: 1rem;
    }
  }

  &__link {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem 1.2rem;
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      #fff 50%
    );
    background-size: 250%;
    transition: all 0.6s;
    cursor: pointer;

    @include respond(tab-land) {
      display: inline-block;
      font-size: 3rem;
      color: var(--color-white-1);
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: var(--color-primary);
    }
  }
}
