@import "../../sass/mixins.scss";

.gmail {
  position: fixed;
  top: 50%;
  right: -6%;
  transform: rotateZ(270deg);

  @include respond(tab-land) {
    display: none;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 1rem;

    &--text {
      color: var(--color-grey-dark-1);
    }

    &::before {
      content: "";
      width: 0.2rem;
      height: 20vh;
      margin-top: 0.6rem;
      background-color: var(--color-grey-dark-1);
      transform: rotateZ(90deg) translateY(10vh);
    }
  }
}
