.parttwo {
  width: 50%;
}

.pink {
  color: #ff5555 !important;
}

.sixhun {
  font-weight: 600 !important;
  text-transform: capitalize;
}

.card {
  display: flex;
  align-items: center;
  justify-self: start;
  gap: 1rem;
}
