@import "../../sass/mixins.scss";

.content {
  grid-column: center-start / col-end 5;
  padding: 6rem 0;

  @include respond(tab-port) {
    grid-column: center-start / center-end;
  }

  &__skill {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;

    &--1 {
      display: flex;
      flex-direction: column;
    }

    &--2 {
      display: flex;
      flex-direction: column;
    }

    &--name {
      display: flex;
      align-content: center;
    }

    &--icon {
      color: var(--color-primary);
      padding-right: 0.2rem;
      margin-top: 0.3rem;
    }
  }
}

.image {
  grid-column: col-start 6 / center-end;
  padding: 6rem 0;

  @include respond(tab-port) {
    grid-column: center-start / center-end;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  &__fig {
    position: relative;

    &--photo {
      position: relative;
      height: 40rem;
      z-index: 2;
      border-radius: 5px;
    }
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      border: 5px solid var(--color-secondary);
      position: absolute;
      top: -3rem;
      left: -3rem;
      z-index: 1;
      transition: all 0.3s;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      border: 5px solid var(--color-secondary);
      position: absolute;
      top: -3rem;
      left: -3rem;
      z-index: 1;
      transition: all 0.3s;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      border: 5px solid var(--color-seconary-2);
      position: absolute;
      top: 3rem;
      left: 3rem;
      z-index: 1;
      transition: all 0.3s;
    }

    &:hover::before {
      top: -1rem;
      left: -1rem;
    }

    &:hover::after {
      top: 1rem;
      left: 1rem;
    }
  }
}
