@import "../sass/mixins.scss";

.container {
  margin-top: 20rem;
  // display: grid;
  // grid-template-rows: min-content;
  // grid-template-columns:
  //   [full-start] minmax(3rem, 1fr)
  //   [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
  //   [center-end] minmax(3rem, 1fr) [full-end];

  // @include respond(tab-land) {
  //   grid-template-rows: 70vh min-content;
  // }

  // @include respond(phone) {
  //   grid-template-rows: 50vh min-content;
  // }

  // @include respond(miniphone) {
  //   grid-template-rows: 50vh min-content;
  //   grid-template-columns:
  //     [full-start] minmax(0, 1fr)
  //     [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
  //     [center-end] minmax(0, 1fr) [full-end];
  // }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
