@import "../../sass/mixins.scss";

.dotitle {
  grid-column: center-start / center-end;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8rem;
}

.do {
  grid-column: center-start / col-end 4;
  padding: 8rem 0;
  @include respond(tab-port) {
    grid-column: center-start / center-end;
    display: flex;
    justify-content: center;
  }

  &__fig {
    height: 40rem;

    &--photo {
      height: 100%;
    }
  }
}

.docontent {
  grid-column: col-start 5 / center-end;
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include respond(tab-port) {
    grid-column: center-start / center-end;
  }

  &__svg {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    &--photo {
      width: 8rem;
      height: 8rem;
      background-color: var(--color-white-1);
      padding: 1.5rem;
      font-size: 5rem;
      border-radius: 50%;
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 1s;

      &:hover {
        transform: rotate(360deg);
      }
    }
  }

  &__list {
    ul {
      list-style: none;
    }

    li::before {
      content: "\27A0";
      color: currentColor;
      margin-right: 0.6rem;
    }
  }
}
