@import "./sass/mixins.scss";

:root {
  --color-white: #333;
  --color-white-1: #fff;
  --color-black: #000;

  --color-primary: #c70039;

  --color-primary-light: #d6446d;

  --color-primary-dark: #b81d49;

  --color-secondary: #9b92e9;
  --color-seconary-2: #2750d6;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #eee;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#personal__portfolio {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 42%;
  }
}

.readyflex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  // font-family: "Open Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
}

a {
  text-decoration: none;
}

// Typography

.heading-1 {
  font-size: 6.4rem;
  font-weight: 700;
  color: #000;
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;

  line-height: 1;
}

.fw700 {
  font-weight: 700 !important;
  text-align: center;
}

.heading-3 {
  font-size: 4.8rem;
  line-height: 1;
  color: #000;
  text-transform: capitalize;
}

.heading-4 {
  font-size: 2.8rem;
  line-height: 1;
}

.paragraph {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 500;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &--light {
    color: var(--color-grey-dark-2);
  }

  &--dark {
    color: var(--color-grey-dark-1);
  }
}

.capitalize {
  text-transform: capitalize;
}

.btn {
  color: #fff;
  border: none;
  border-radius: 0rem;

  padding: 1.1rem 2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.mt-sm {
  margin-top: 1rem !important;
}

.mt-md {
  margin-top: 3rem !important;
}

.mb-lg {
  margin-bottom: 4rem !important;
}

.mb-hg {
  margin-bottom: 8rem !important;
}

.ft {
  font-size: 2.8rem !important;
}
